header{
    display: flex;
    flex-direction: row;
    gap: 1%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-top: 10vh;
}

section{
    height: 70vh;
    width: 50vw;
    background-color: aqua;
    position: fixed;
    margin-left: 25vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
}

#main_news_page{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: dodgerblue;
    padding: 5px;
    gap: 5px;
}

#edditional_manor{
    width: 100%;
    height: 100%;
    background-color: gray;
    /* display: none; */
}

#edditional_barcelona{
    width: 100%;
    height: 100%;
    background-color: rgb(121, 33, 33);
    display: none;
}

#edditional_real_madrid{
    width: 100%;
    height: 100%;
    background-color: rgb(24, 175, 180);
    display: none;
}

#edditional_liverpool{
    width: 100%;
    height: 100%;
    background-color: rgb(25, 119, 67);
    display: none;
}

#create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: red;
}